In [1]:
import pandas as pd

In [39]:
df = pd.read_csv("/tmp/poLCA.csv")

# to change all non-elective like EMERGENCY and URGENT to Non-elective
df["admission_type"] = df["admission_type"].apply(lambda x: "Non-elective" if x != "ELECTIVE" else "Elective")

# we want to check if elixhauser index sum looks normal
target_columns = [col for col in df.columns if col not in ["subject_id","hadm_id","admission_type","gender","age_bucket","age_at_admission"]]
df[target_columns].apply(lambda row: sum(row),axis=1).value_counts()

# add 1 for all elixhauser index, so they are 1/2, instead of 0/1, so it won't cause error in poLCA
df[target_columns] = df[target_columns]+1

# drop people are not in the designed age bucket
df = df[~df["age_bucket"].isnull()]
df

df = df.reset_index().drop(columns=["index"])
df

,subject_id,admission_type,gender,age_bucket,max_age_at_admission,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,58526,Non-elective,F,25-44,36,100001,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,54610,Non-elective,M,45-64,60,100003,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,9895,Non-elective,F,45-64,49,100006,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0
3,23018,Non-elective,F,65-84,74,100007,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,533,Non-elective,M,45-64,61,100009,1.0,2.0,1.0,1.0,...,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33329,94911,Non-elective,F,85-95,86,199992,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
33330,20785,Non-elective,M,45-64,61,199993,2.0,2.0,2.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
33331,19412,Non-elective,M,16-24,24,199995,1.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0
33332,27200,Non-elective,M,65-84,70,199998,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
33333,40370,Non-elective,M,85-95,89,199999,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0

In [40]:

df.to_csv("data/LCA_prep_data.csv")
df

,subject_id,admission_type,gender,age_bucket,max_age_at_admission,hadm_id,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
0,58526,Non-elective,F,25-44,36,100001,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,54610,Non-elective,M,45-64,60,100003,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,9895,Non-elective,F,45-64,49,100006,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0
3,23018,Non-elective,F,65-84,74,100007,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,533,Non-elective,M,45-64,61,100009,1.0,2.0,1.0,1.0,...,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33329,94911,Non-elective,F,85-95,86,199992,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
33330,20785,Non-elective,M,45-64,61,199993,2.0,2.0,2.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
33331,19412,Non-elective,M,16-24,24,199995,1.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0
33332,27200,Non-elective,M,65-84,70,199998,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
33333,40370,Non-elective,M,85-95,89,199999,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0